rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    //* Collection Rules ----------------------------------------------

    // Admin Rules
    match /{allPaths=**} {
      allow read, write: if isAuthenticated() && isAdmin();
    }

    // Accounts collection - Authenticated can access their own documents only
    match /accounts/{uid} {
      allow read, write: if isAuthenticated() && request.auth.uid == uid;
    }

    // Meta collection - Authenticated can read all but not write
    match /meta/{uid} {
      allow read:   if isAuthenticated();
      allow write:  if false;
    }

    // Channels collection - Public can read all but only admins can write
    match /channels/{cid} {
      allow read:   if true;
      allow write:  if false;
    }
    
    //* Helper Functions --------------------------------------------

    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      let metaDoc = get(/databases/$(database)/documents/meta/$(request.auth.uid));
      return metaDoc.data.admin == true;
    }
  }
}
