rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    //* Collection Rules ----------------------------------------------

    // Admin Rules
    match /{allPaths=**} {
      allow read, write: if isAuthenticated() && isAdmin();
    }

    // Accounts collection - Authenticated can access their own documents only
    match /accounts/{uid} {
      allow read, write: if isAuthenticated() && request.auth.uid == uid;
    }

    // Meta collection - Authenticated can read all but not write
    match /meta/{uid} {
      allow read:   if isAuthenticated();
      allow write:  if false;
    }

    // Channels collection - Public can read all but Party, only the function writes
    match /channels/{cid} {
      allow read:   if cid != 'party' || isPartyMember();
      allow write:  if false;
    }

    // Video blocks - Public can read all but Party, only the function writes
    match /channels/{cid}/videos/{blockId} {
      allow read:   if cid != 'party' || isPartyMember();
      allow write:  if false;
    }

    //* Helper Functions --------------------------------------------

    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      let metaDoc = get(/databases/$(database)/documents/meta/$(request.auth.uid));
      return metaDoc.data.admin == true;
    }

    // `party` is the date the video challenge was passed, good for 90 days.
    function isPartyMember() {
      let metaRef = /databases/$(database)/documents/meta/$(request.auth.uid);
      let party = isAuthenticated() && exists(metaRef)
                  ? get(metaRef).data.get('party', null)
                  : null;
      return party is timestamp && party > request.time - duration.value(90, 'd');
    }
  }
}
